
h1 {
  text-align: center;
  color: blue;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

.wrapper {
  text-align: center;
}

.button {
  background-color: White; /* Green */
  border: 1px solid Black;
  color: Black;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px
}

.button:hover {
  background-color: Blue;
  color: white;
}

.button:active {
  background-color: Blue;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

input {
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  height: 40px;
  width: 250px;
  font-size: 16pt;
}
